<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="RadioDateConnectionString" connectionString="Data Source=PC-FREEDOM;Initial Catalog=RadioDate;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <!--<add name="sqlmanagementConnectionString" connectionString="Data Source=pk-ltp-ziftikha\local;Initial Catalog=AirplaySimple;Integrated Security=True" providerName="System.Data.SqlClient"/>-->
    <add name="sqlmanagementConnectionString" connectionString="workstation id=95.110.201.144;user id=mauro1;pwd=nac%mau$0046@Aa;data source=95.110.201.144;persist security info=False;initial catalog=AirplaySimple" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <!--<add key="folder" value="D:\\MYDATA\Projects\\SQL MUSIC\\SQLMusicManagement\\SQLMusicManagement\\files\\"/>-->
  </appSettings>
  <system.web>
    <trace enabled="true" pageOutput="false" localOnly="false"/>
    
    <customErrors mode="On"/>
    <compilation debug="true" targetFramework="4.0"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
    <httpRuntime maxRequestLength="1048576" executionTimeout="90000" />
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="AjaxMin" publicKeyToken="21ef50ce11b5d80f" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.11.5295.12304" newVersion="5.11.5295.12304"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>